*{box-sizing: border-box;}
body{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    background-image: url(../imagenes/fondo-3.jpg);
}
#contenedor{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    color: rgb(155, 155, 220);
    background-color: rgb(155, 155, 220);
}
.encabezado, .piedepagina{
    padding:1rem;
    text-align: center;
    background-color: rgb(31, 31, 81);
}
.encabezado h1{
    font-size: 3rem;
}
.navegador ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navegador li{
    display: inline-block;
}
.navegador a{
    font-size: 1rem;
    line-height: 2.2rem;
    padding: 0.4rem 1rem;
    text-align: center;
    text-decoration: none;
}
.navegador a:link{
    color: rgb(155, 155, 220);
}
.navegador a:visited{
    color: rgb(111, 111, 156);
}
.navegador a:hover{
    color: rgb(54, 54, 75);
}
.navegador a:active{
    color:rgb(22, 22, 37);
}
section{
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(31, 31, 81);
}
article{
    text-align: left;
    padding: 1rem;
    margin: 1rem;
}
.columnas{
    display: flex;
}
.piedepagina address{
    text-align: center;
    text-decoration: none;
}
.piedepagina address:a{
    color:rgb(68, 68, 97);
}